[submodule "_ext/serial"]
	path = _ext/serial
	url = https://github.com/yan9a/serial.git
[submodule "_ext/RosMath"]
	path = _ext/RosMath
	url = ../RosMath.git
[submodule "_ext/rapidjson"]
	path = _ext/rapidjson
	url = https://github.com/Tencent/rapidjson/
