[submodule "_ext/serial"]
	path = _ext/serial
	url = https://github.com/yan9a/serial.git
[submodule "_ext/RosMath"]
	path = _ext/RosMath
	url = ../RosMath.git
[submodule "_ext/rapidjson"]
	path = _ext/rapidjson
	url = https://github.com/Tencent/rapidjson/
[submodule "_ext/Catch2"]
	path = _ext/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "_ext/FakeIt"]
	path = _ext/FakeIt
	url = https://github.com/eranpeer/FakeIt.git
[submodule "_ext/expected"]
	path = _ext/expected
	url = https://github.com/TartanLlama/expected.git
[submodule "_ext/errors-helper"]
	path = _ext/errors-helper
	url = ../errors-helper
[submodule "_ext/lcomp"]
	path = _ext/lcomp
	url = ../lcomp
